
.about {
 
  display: flex;
  flex-direction: row;
  
}

.sidenav{

  flex: 1;
  height:auto;
 
}


.points {
list-style-type: circle;
text-align: left;

}
ul.points li::marker {

content: "\25C6"; 
color: rgb(255, 103, 103); 
}
ul.points li{
padding-left:2.5%;
}


.infoContainer{
display:flex;
justify-content: space-between;
text-align:center;
width:100%;
background-color: rgb(255, 255, 255);
padding:0.5%;
color:rgb(0, 0, 0);

}

.infoLine{
border: none; 
border-top: 1.5px solid black; 

}

.info:nth-child(1){
 margin-top:8%;
 width:450px;
 color:rgb(0, 0, 0);
 border-radius:10px;
 padding:20px;
 background-color: rgb(255, 255, 255);
 
}
.info:nth-child(2){
margin-top:3%;
width:450px;
color:rgb(0, 0, 0);
border-radius:10px;
padding:20px;
background-color: rgb(255, 255, 255);

}




.homeInfoSection

{   display:flex;
  flex-direction: column;
  flex: 4;
 
}

.UserInfoSection{
display:flex;
flex-direction: column;
}
.bloodDropVid{
width:300px;
height: 300px;

}



.infoContainer{

display:flex;
flex-direction: row;
}
.bloodLabImg{
margin-top:15px;
width:440px;
height:330px;

}
.donorImg{
margin-top:50px;
width:350px;
height:330px;
margin-right:50px;
}

.mainImageContainer {
  width:100%;
  height: 270px; 
  position: relative;
  margin-right:10px;
 
  

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.mainImage{
width: 100%;
height: 100%;
object-fit: cover;


}



.line{

border:solid white 2px;
}

.brackets {
  font-size: 50px; 
}
.imageText {

position: absolute;
top: 45%;
left: 70%;
transform: translate(-50%, -50%);
z-index: 1;
font-size: 33px; 
color: rgb(255, 255, 255);
font-weight: 400;
line-height: 1.3;
font-family:Georgia, serif; 
white-space: nowrap; 


}

