.firstheading{
  margin-bottom:4%;
  margin-top:5%;
  margin-left:28%;
  font-size:18px;
  color:rgb(5, 5, 5);
  font-weight: bold;
}

.flex1{
  display: flex;
  flex-wrap: wrap;
  margin-left:30%;
  margin-right:250px;
}

.flex2{
  font-size:13px;
  flex-basis: calc(50% - 10px);
  margin-bottom:20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 250px;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid rgb(224, 221, 221);
  background-color: rgb(255, 255, 255);
  margin: 20px;
}

.flex3{
  display: flex;
  justify-content: space-between;
}


.innertext{
  color:gray;
  font-weight:lighter;
  word-wrap: break-word;
  padding:2px;
}

.icon-donor{
  color: rgb(255,165,0);
}

.icon-admin{ 
  color: rgb(144, 144, 144);
}

.icon-hospital{
  color: rgb(0, 186, 174);
}

.icon-bloodbank{
  color:rgb(186, 12, 0);
}

.number{
  font-size:xx-large;
  color:grey;
}

body{
  background-color: whitesmoke;
}

@media only screen and (max-width: 1186px) {
  .flex1 {
    flex-basis: calc(100%);
    margin-right:20px;
  }
}





@media only screen and (max-width: 355px) {
 
    .flex1 {
      flex: 1 0 calc(70% - 20px); 
      margin: 9%;
      max-width: 500px;
    }
  
    .flex2 {
      flex: 1 0 calc(30% - 20px); 
    }

  .firstheading{
    margin-top:25%;
    margin-left:20%;
  }
}

@media only screen and (min-width: 325px) and (max-width: 426px) {
  .flex1 {
    flex: 1 0 calc(250% - 5px); 
    margin: 9%;
    max-width: 600px;
  }

  .flex2 {
    flex: 1 0 calc(150% - 10px); 
    margin-left:13%;
  }
}


@media only screen and (min-width: 427px) and (max-width: 841px) {
  .flex1 {
    flex: 1 0 calc(100% - 5px);
    margin-left:5%;
    max-width: 800px;
  }

  .flex2 {
    flex: 2 0 calc(100% - 10px);
    margin-left: 10%;
  }

  .firstheading{
    margin-top:13%;
    margin-left:20%;
  }
}

